<section class="spotlight">
  <div class="image">
    <img src="{{ scenario.image }}" alt="{{ scenario.img_alt_text }}"/></div>
  <div class="content">
    <p>{{ scenario.problem }}
      {{ solution }}<span [hidden]="!solution">.</span>
      <span [hidden]="solution">...</span>
    </p>
    <input type="text" placeholder="Type your idea or select one below"
           [(ngModel)]="solution" (input)="resetExample()">
    <div class="row">
        <div class="half-column alig-left">
          <a (click)="toggleShowIdeas()"><i class="icon fa-lightbulb-o small"></i> ideas</a>
        </div>
        <div class="half-column align-right" [hidden]="!solution">
          <a (click)="mailTo()">email this <i class="icon fa-envelope small"></i></a>
        </div>
    </div>

    <!-- based on example at https://css-tricks.com/snippets/jquery/styled-popup-menu/ -->
    <div class="size" (click)="toggleShowIdeas()" [hidden]="showIdeas">
      <ul class="list">
        <li *ngFor="let idea of scenario.ideas" (click)="addSolution(idea.text, idea.examples)">
          <a>{{ idea.text }}</a>
          <!-- template?  send idea.examples each as link? -->
        </li>
      </ul>
    </div>

    <div class="align-left" [hidden]="!watchChange">
      <strong>Example:</strong>
      <a href="" target="_blank" *ngFor="let ex of examples">
        {{ ex.name }}
      </a>
    </div>
  </div>
</section>
