<!-- Begin EchoSystem -->
<section id="ecosystem" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Smart Gigabit Community Ecosystem</h2>
      <p>
        Some key features separate communities ready to take the lead<br />
        in the emerging gigabit economy.  Providing services, attracting<br />
        businesses, and enabling growth have these things in common.
      </p>
    </header>
    <ul class="features">
      <li class="icon fa-forward">
        <h3>Gigabit Speeds</h3>
        <p>Fast networks that exceed the limits of current broadband enable sharing more information than ever before, at faster speeds, in all directions.</p>
      </li>
      <li class="icon fa-clock-o">
        <h3>Real-Time Responses</h3>
        <p>Using regional compute resources enable users and services to receive a reply from the edge of their community with no noticeable delay.</p>
      </li>
      <li class="icon fa-code">
        <h3>Intelligent Networks</h3>
        <p>Software Defined Networks can adapt to changing conditions in realtime and intelligently route traffic to isolate critical infrastructure to the right members.</p>
      </li>
      <li class="icon fa-exchange">
        <h3>Local Traffic Exchanges</h3>
        <p>Gigabit network traffic never leaves the region and providers exchange local traffic freely for the shortest routes and response times possible.</p>
      </li>
      <li class="icon fa-heart-o">
        <h3>Innovation Incubator</h3>
        <p>Local developers connect and communicate freely with one another, they understand how to assess local infrastructure to develop new ideas and have a way to incubate their applicaitons locally in edge-compute hosts.</p>
      </li>
      <li class="icon fa-server">
        <h3>Edge Computing</h3>
        <p>Compute resources are integrated into the community infrastructure and available to innovators.  Local datacenters, community academic or government clusters, and compute capable embedded devices all allow smart applications to run at or near the point of interaction for ultra-fast response times.</p>
      </li>
    </ul>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>Be Smart, make the leap to Gigabit</h2>
      <p>Bring your community forward, learn how to get involved and transform your community by becoming a member of our Smart Gigabit Communities network.</p>
    </header>
    <ul class="actions vertical">
      <li><a href="https://www.us-ignite.org/programs/smart-gigabit-communities/" class="button fit special" target="_blank">JOIN</a></li>
      <li><a href="https://www.us-ignite.org/" class="button fit" target="_blank">Contact</a></li>
    </ul>
  </div>
</section>
<!-- End Echosystem -->
