<!-- Begin Idea -->
<!-- Two -->
<section id="idea" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="assets/images/BP2_2887.jpg"
                            alt="Two users wearing hololens to examine a brain diagram together in real time"/></div>
    <div class="content">
      <div class="dropdown">
        <p>Two or more people in different places need to simultaneously and collaboratively ...</p>
        <input type="text" id="collab_idea" placeholder="Select or type your own">
        <ul class="dropdown-menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <p>

        <datalist id="collab_list">
          <option data="a1" value="perform music">perform music</option>
          <option data="a2" value="exercise with coordinated movements">exercise with coordinated movements</option>
          <option data="a3" value="examine and mainpulate 3D objects or 360 degree video">examine and mainpulate 3D
            objects or 360 degree video
          </option>
          <option data="a4" value="interactively view the similar sections of a big data set">interactively view the
            similar sections of a big data set
          </option>
          <option value="have a natural conversation or distributed meeting as if you were in the same space">have a
            natural conversation or distributed meeting as if you were in the same space
          </option>
          <option value="tech or learn in a virtual environment">tech or learn in a virtual environment</option>
        </datalist>
      </p>
      <p>
        <span id="collab_xpl_a1"><strong>Example:</strong>  <a
          href="https://www.internet2.edu/vision-initiatives/initiatives/innovation-platform/" target="_blank">LOLA</a></span>
        <span id="collab_xpl_a2"><strong>Example:</strong>  <a
          href="https://www.us-ignite.org/apps/physical-therapy-as-a-service/" target="_blank">Interactive Interface for Remote Physical Therapy</a></span>
        <span id="collab_xpl_a3"><strong>Example:</strong>  <a href="https://www.us-ignite.org/apps/panovr/"
                                                               target="_blank">PanoVR</a></span>
        <span id="collab_xpl_a4"><strong>Example:</strong>  <a href="https://www.us-ignite.org/apps/PlanIT-Impact/"
                                                               target="_blank">PlanIT Impact</a></span>
      </p>
    </div>
  </section>
  <section class="spotlight wrapper alt style1">
    <div class="image"><img src="assets/images/IoTArray.jpg"
                            alt="Central circuit board with many small sensors plugged in."/></div>
    <div class="content">
      <p>
        Service low-income areas or schools at lower cost by using off-site resources over a high speed networks and
        edge-compute to connect ...
        <input type="text" name="distributed_idea" list="distriblist">
        <datalist id="distriblist">
          <option value="VR headsets for experiential education">VR headsets for experiential education</option>
          <option value="domestic robots for interactive education or home monitoring">domestic robots for interactive
            education or home monitoring
          </option>
          <option value="senior citizen to health and safety monitoring systems">senior citizen to health and safety
            monitoring systems
          </option>
          <option value="3D modeling and fabrication">3D modeling and fabrication</option>
          <option value="shoppers to recommendations for healthy food purchases at the point of purchase">shoppers to
            recommendations for healthy food purchases at the point of purchase
          </option>
        </datalist>
      </p>
      <p>
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="assets/images/BP2_3761.jpg"
                            alt="Compute for Cancer team presents on their distributed moble computing platform to analyze drug interactions for cancer treatments."/>
    </div>
    <div class="content">
      <p>
        Use big-data from hubs, archives or field devices for better decision making or education ...
        <input type="text" name="bigdata_idea" list="bigdatalist">
        <datalist id="bigdatalist">
          <option>merging and visualizing civic and engineering data to plan for increased energy efficiency.</option>
          <option>merging and visualizing meteorological data with real time pollution sensors.</option>
          <option>modeling city data in a collaborative augmented reality environment.</option>
          <option>retraining machine learning algorithms training sets to form real-time recommendations.</option>
          <option>overlaying layers from multi-spectrum surveys for better land use or monitoring of infrastructure.
          </option>
          <option>detecting floods in real-time and advise people in the area where to seek safety.</option>
          <option>analyze drone footage to help find a missing person or monitor infrastructure.</option>
        </datalist>
      </p>
      <p>
      </p>
    </div>
  </section>
  <section class="wrapper alt style1 spotlight">
    <div class="image"><img src="assets/images/BP2_3741.jpg"
                            alt="A user with a VR headset interacts with someone from a remote location who is projected into the VR environment."/>
    </div>
    <div class="content">
      <p>
        Provide unprecedented levels of detail through the use of streaming 4k Video to ...
        <input type="text" name="streaming" list="streaminglist">
        <datalist id="streaminglist">
          <option>provide high quality real-time microscopy to classrooms.</option>
          <option>provide real time control over telescopes for sky observations to classrooms.</option>
          <option>stream interactive 360 degree video for collaborative analysis.</option>
          <option>connect mental health professionals with patience remotely at high frame rate.</option>
          <option>teach lip-reading or body language analysis.</option>
        </datalist>
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="assets/images/BP1_0943.jpg" alt="Robot navigates a complex environment in real-time."/>
    </div>
    <div class="content">
      <p>
        Enable real-time interactive control of ...
        <input type="text" name="control" list="controlist">
        <datalist id="controlist">
          <option>expensive scientific equipment to enable STEM education across classrooms in a region.</option>
          <option>robots that enable them to act quickly in real-time with their environment.</option>
          <option>surgical robots so doctors can assist in critical procedures remotely.</option>
          <option>simulated environments to enable experiential education in surgery, energy, public safety or other
            high skill fields.
          </option>
          <option>implanted medical devices to tailor therapy to patients schedule and reduce the need for expensive
            travel to medical centers.
          </option>
        </datalist>
      </p>
    </div>
  </section>
  <section class="spotlight wrapper alt style1">
    <div class="image"><img src="assets/images/BP1_0691.jpg" alt=""/></div>
    <div class="content">
      <p>
        Provide access to high end computing resources by streaming services to low-end devices to ...
        <input type="text" name="services" list="serviceslist">
        <datalist id="serviceslist">
          <option>render virtual environments using powerful graphics hardware to cardboard VR devices.</option>
          <option>provide cutting edge artificial intelligence to local dumb devices via remote processing.</option>
          <option>coordinate the control of buildings and smart homes and enable environments to adjust and adept to
            events in real-time.
          </option>
          <option>provide feedback to autonomous devices that enable them to make better real-time decisions.</option>
          <option>enable apparent instantaneous response to environmental monitoring to trigger safety systems.</option>
        </datalist>
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="assets/images/BP1_0723.jpg" alt=""/></div>
    <div class="content">
      <p>
        Enable unprecedented levels of security or enable direct interaction by ...
        <input type="text" name="sdn" list="sdnlist">
        <datalist id="sdnlist">
          <option>building a Software Defined Network that isolates IoT arrays from the public internet.</option>
          <option>provide direct connections between area compute clusters to build a distributed super-computer.
          </option>
          <option>isolating critical infrastructure like public safety networks or power grids to allow systems to only
            interact internally.
          </option>
        </datalist>
      </p>
    </div>
  </section>
</section>
<!-- End Idea -->
