<!-- Begin Idea -->
<!-- Two -->
<section id="idea" class="wrapper alt style2">
  <section *ngFor="let s of scenarios" class="spotlight">
    <div class="image">
      <img src="{{ s.image }}" alt="{{ s.alt_text }}"/></div>
    <div class="content">
      <p>{{ s.problem }} {{ s.solution }}</p>
      <div class="dropdown">
        <input type="text" id="collab_idea" placeholder="Select or type your own">
        <ul class="dropdown-menu">
          <li *ngFor="let idea of s.ideas">{{ idea.body }}</li>
        </ul>
      </div>
      <p>
        <strong>Example:</strong>  <a href="" target="_blank"></a>
      </p>
    </div>
  </section>
</section>
<!-- End Idea -->
