<!-- Begin Nav -->
<!-- Begin Header -->
<header id="header" class="alt">
  <h1>US Ignite Gig Reactor</h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="#page-wrapper" class="scrolly">Top</a></li>
            <li><a href="#idea" class="icon fa-lightbulb-o scrolly"> Generate</a></li>
            <li><a href="#echosystem" class="icon fa-graduation-cap scrolly"> Learn More</a></li>
            <li><a href="#footer" class="icon fa-users scrolly"> Social Media</a></li>
            <li><a href="https://us-ignite.org" target="_blank" class="icon fa-home"> US Ignite Home</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
<!-- End Header -->

<!-- BEGIN CONTENT -->
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>US Ignite Gig Reactor</h2>
    <p>Sparking thought for Smart Gigabit Communities solving challenging problems today's networks can't address by <a href="https://us-ignite.org" target="_blank">US Ignite</a></p>
    <ul class="actions">
      <li><a href="#one" class="button special scrolly">Generate Ideas</a></li>
    </ul>
  </div>
  <a href="#echosystem" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>Gigabit Application Generator</h2>
      <p>
        Try your hand at generating just a few ideas for applications using advanced gigabit networks.
      </p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-forward major style1"><span class="label">High Bandwidth</span></span></li>
      <li><span class="icon fa-refresh major style2"><span class="label">Real-Time</span></span></li>
      <li><span class="icon fa-code major style3"><span class="label">Secure</span></span></li>
    </ul>
  </div>
</section>
<!-- End Nav -->
