/* You can add global styles to this file, and also import other style files */
@import '_sass/variables';
@import '_sass/libs/_main';
@import '../node_modules/font-awesome/scss/font-awesome';

/* Idea menu popup */
.size { position:relative }
.size>ul.list {
  position:absolute; left:30px; top:-40px; z-index:999;
  //width:300px;
  margin:0; padding:10px; list-style:none;
  background:#fff; color:#333;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.size>ul.list li {
  padding:10px;
  border-bottom: solid 1px #ccc;
  align-content: left;
}
.size>ul.list li:hover {
  background: #6f80a1; color:#fff;
}
.size>ul.list li:last-child { border:none }

.size>ul.list li>a {text-underline: none}

.half-column {
  position: relative;
  width: 50%;
}
.row {
  width: 100%;
}
.align-left {
  align-content: left;
  text-align: left;
}

#footer .small {
  font-size: 60%;
  color: darken(_palette(fg-light), 30%);
}
